{{yield}}

{{add-todo onAdd=(action 'addTodo')}}

<ul>
  {{#each todos as |todo|}}
    <li>{{todo.text}}</li> <button type="remove" {{action "remove" on="remove"}}>Remove</button>
    {{/each}}
  </ul>
  
